name: Release

on:
  push:
    tags: 
    - '**'

jobs:
  create-release:
    name: Create release
    runs-on: macos-13
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
      build_number: ${{ steps.create_release.outputs.build_number }}
    steps:
      - name: Initialise Release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_NAME: ${{ github.ref_name }}
        run: |
          echo "$(date +%Y%m%d%H%M%S)"
          BUILD_NUMBER=$(echo "$TAG_NAME" | sed 's#.*/\([0-9][0-9]*\)#\1#')
          echo "RELEASE: ${TAG_NAME}, build: ${BUILD_NUMBER}"
          echo "build_number=${BUILD_NUMBER}" >> "$GITHUB_OUTPUT"

          gh release create "${TAG_NAME}"           
  
  build:
    name: Build iOS
    runs-on: macos-13
    needs: create-release

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_14.3.1.app && /usr/bin/xcodebuild -version

      - name: Build
        id: build
        run: exec ./.github/scripts/build_ios ${{ needs.create-release.outputs.build_number }}

      - name: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          asset_content_type: application/zip
          asset_name: ${{ steps.build.outputs.archive_name }}
          asset_path: ${{ steps.build.outputs.archive_file }}
          upload_url: ${{ needs.create-release.outputs.upload_url }}
        