name: Release

on:
  workflow_dispatch:
  push:
    tags: 
    - '**'

jobs:
  build:
    name: Build iOS
    runs-on: macos-13

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Select Xcode
        run: sudo xcode-select -switch /Applications/Xcode_14.3.1.app && /usr/bin/xcodebuild -version

      - name: Build
        run: cd ios/ActionsPlayground && exec ./.github/scripts/build_ios